body {
    background-color: white;
    background-image: url(images/alexander-grey-fSlCxR0dnZY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    text-align: center;
    max-height: 100vh;
    margin: auto;
}
#player-num {
    font-size: 32px;
    display: inline-block;
    width: 50%;
    margin: 50px auto;
    padding: 15px;
}
#score-board {
    margin: 10px auto;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
}
.eachScore {
    display: grid;
    grid-template-rows: auto;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
  }
p {
    color: black;
}
h1 {
    color: darkgreen;
    margin: 5px;
}
h2 {
    color: black;
    font-size: 50px;
    margin: 5px;
}
button {
    color: white;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.decrement-btn {
    color: white;
    background: pink;
}
.increment-btn, #num-players-submit-btn {
    color: white;
    background: darkred;
}
.save-btn {
    color: white;
    background: darkgreen;
}
.remove-last-btn{
    color: beige;
    background-color: red   ;
}